.message { 
    color: black; 
    background-color: lightcoral;
    border-color: red; 
    border-style: solid;
    border-width: 1px;
    padding-top: 10px; 
    padding-left:10px;
    border-radius: 6px; 
    width: 25%; 
    height: 30px; 
}