<h1>Employee Detail</h1>

<mat-card>
    <mat-card-header>
        <img mat-card-avatar 
             src="https://www.pngitem.com/pimgs/m/294-2947257_interface-icons-user-avatar-profile-user-avatar-png.png"/>
        <mat-card-title>{{employee.name_employee}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>ID     : {{employee.id_employee}}</div>
        <div>Name   : {{employee.name_employee}}</div>
        <div>Salary : {{employee.salary_employee}}</div>
        <div>Age    : {{employee.age_employee}}</div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/edit-employee/{{employee.id_employee}}">Edit</button>
        <button mat-raised-button color="warn" routerLink="/delete-employee/{{employee.id_employee}}">Delete</button>
    </mat-card-actions>
</mat-card>