.mat-form-field {
    font-size: 14px;
    width: 80%;
}

table {
    width: 80%;
}

.col-id {
    width: 50px;
}

.col-name {
    width: 250px;
} 

.col-age {
    width: 150px;
}

.col-salary, .col-actions {
    width: 200px;
}