<div class="mat-headline">Employee List</div>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Insert keyword (name, salary, or age)">
</mat-form-field>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id_employee">
        <th class="col-id" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let employee">{{employee.id_employee}}</td>
    </ng-container>

    <ng-container matColumnDef="name_employee">
        <th class="col-name" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let employee">{{employee.name_employee}}</td>
    </ng-container>

    <ng-container matColumnDef="salary_employee">
        <th class="col-salary" mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
        <td mat-cell *matCellDef="let employee">{{employee.salary_employee}}</td>
    </ng-container>

    <ng-container matColumnDef="age_employee">
        <th class="col-age" mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
        <td mat-cell *matCellDef="let employee">{{employee.age_employee}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th class="col-actions" mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let employee">
            <button mat-icon-button color="primary" routerLink="/employee-detail/{{employee.id_employee}}"><mat-icon>search</mat-icon></button>
            <button mat-icon-button color="primary" routerLink="/edit-employee/{{employee.id_employee}}"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" routerLink="/delete-employee/{{employee.id_employee}}"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>