<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <div>Employee Management System</div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/employees">
                <mat-icon matListIcon>people_alt</mat-icon>
                <h3 matLine>Employees</h3>
            </a>
            <a mat-list-item routerLink="/add-employee">
                <mat-icon matListIcon>person_add</mat-icon>
                <h3 matLine>Add Employee</h3>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>