<div class="mat-headline">Edit Employee</div>

<div *ngIf="message">
    <p class="alert message">{{message}}</p>
</div>
<div *ngIf="!message">
    <p class="alert error">{{error}}</p>
</div>

<form>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input [formControl]="nameFormControl" required matInput name="name" type="text" #name_employee/>
        <mat-error *ngIf="nameFormControl.hasError('required')">Name is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Salary</mat-label>
        <input [formControl]="salaryFormControl" required matInput name="salary" type="number" #salary_employee/>            
        <mat-error *ngIf="salaryFormControl.hasError('required')">Salary is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input [formControl]="ageFormControl" required matInput name="age" type="number" #age_employee/>              
        <mat-error *ngIf="ageFormControl.hasError('required')">Age is required</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary" (click)="onSubmit(name_employee.value,
                                                                              salary_employee.value,
                                                                              age_employee.value)">
        Submit
    </button>
</form>