.mat-form-field {
    width: 40%;
}

.alert { 
    border-style: solid;
    border-width: 1px;
    padding-top: 10px; 
    padding-left:10px;
    border-radius: 6px; 
    width: 25%; 
    height: 30px; 
}

.message {
    color: darkgreen; 
    background-color: lightgreen; 
    border-color: green; 
}

.error {
    color: black; 
    background-color: lightcoral;
    border-color: red; 
}

form, button {
    margin-top: 1rem;
}
